body {
    margin: 0;
    background-color: #CCE5CC;
}

.container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #634D2F;
    padding-bottom: 100px;
    background-image: url('../../../assets/images/madeira.png');
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    width: 40px;
}

.container-menu .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    width: 75%;
}

.lista-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style-type: none;
    font: 600 14px 'Montserrat';

}

.lista-menu a {
    text-decoration: none;
    color: #fff;
}

.lista-menu a:hover {
    text-decoration: underline;
}

#download-botao,
#entrar {
    color: #000;
    padding: 0px 20px 0px 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 700 14px 'Montserrat';
    border: none;
}

#download-botao:hover,
#entrar:hover {
    transition: 0.3s;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#botao-textos {
    color: #000;
    padding: 15px 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 800 14px 'Montserrat';
    border: none;
    cursor: pointer;
}

#botao-textos:hover {
    transition: 0.3s;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.2);
}

#botao-contato {
    color: #000;
    padding: 15px 20px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 800 14px 'Montserrat';
    border: none;
    cursor: pointer;
}

#botao-contato:hover {
    transition: 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#sob-medida {
    width: 30%;
    border-radius: 10px;
}

#restauracao {
    width: 40%;
    border-radius: 10px;
}

#armarios {
    width: 40%;
    border-radius: 10px;
}

.container-menu .textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 780px;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
}

#imagine {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
}

#texto-principal {
    color: #fff;
    text-align: center;
}

#download-imagem {
    width: 25px;
    height: 25px;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container-chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 20px;
}

.container-chat .textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 20px;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 100px 20px;
    max-width: 1180px;
}

.container-sobre .textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1180px;

}

#print {
    width: 100%;
}

.container-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Montserrat';
    color: #546A45;
}

p {
    font: 600 1.5rem 'Roboto Slab';
    color: #404040;
    text-align: justify;
}

#construcao {
    width: 80%;
}

#construcao-texto {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px 50px 20px;
    background-color: #bbd3bb;
}

#linha1 {
    width: 5%;
    border: solid 1px #949494;
}

#linha2 {
    width: 100%;
    border: solid 1px #949494;
}

#copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    text-wrap: nowrap;
    text-decoration: none;
    color: #949494;
    font: 600 14px 'Montserrat';
}

#copyright:hover {
    color: #626262;
}